@{
    ViewData["Title"] = "Strona główna - ";
}

<div class="text-center">
    <span>To jest strona główna. Trzeba tu będzie pobrać listę najpopularniejszych ofert czy też ofert z najbliższą lokalizacją.</span>    
</div>
